:root{
  --primeira-cor: #0e3746;
}

body{
	background-color: var(--primeira-cor);
	background-size: cover;	
   
}

 @media only screen and (max-width: 700px) {
	 	body{
		background-color: var(--primeira-cor);
		background-size: cover;	
	   
	}

	.form-login{
		padding-bottom: 50px;
	}

 }

.vertical-offset-100{
    padding-top:100px;
}


.recuperar{
	margin-top:25px;
	font-size:12px;
	text-align:center;
}